
{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}
    <div class=" d-flex flex-column flex-sm-shrink-5 p-3 bg-light" style="width: 280px; height: 100vh;" id="nav">
        <a href="" class="d-flex align-items-center mb-3 mb-md-0 me-md-auto link-dark text-decoration-none">
          <span class="fs-4 fw-bold">Account</span>
        </a>
        <hr>
        <ul class="nav nav-pills flex-column mb-auto">
          <li class="nav-item">
            <a href="/" class="nav-link active" aria-current="page">
              Home
            </a>
          </li>
          <li>
            <a href="{% url 'shop:update_user' %}" class="nav-link link-dark">
              Profile
            </a>
          </li>
          <li>
            <a href="{% url 'shop:update_password' %}" class="nav-link link-dark">
              Change Password
            </a>
          </li>
          <li>
            <a href="{% url 'shop:update_info' %}" class="nav-link link-dark">
              Delivery
            </a>
          </li>
          <li>
            <a href="{% url 'shop:favourites' %}" class="nav-link link-dark">
              Wishlist
            </a>
          </li>
          {% if user.is_superuser %}
            <hr>
            <ul class="nav nav-pills flex-column mb-auto">
                <!-- <li class="nav-item">
                <a href="#" class="nav-link active" aria-current="page">
                    Orders
                </a>
                </li> -->
                <li class="nav-item dropdown">
                  <a class="nav-link dropdown-toggle" href="#" id="navbarDarkDropdownMenuLink" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                    Orders
                  </a>
                  <ul class="dropdown-menu dropdown-menu-dark" aria-labelledby="navbarDarkDropdownMenuLink">
                    <li><a class="dropdown-item" href="{% url 'payment:delivered_dash' %}">Delivered</a></li>
                    <li><a class="dropdown-item" href="{% url 'payment:undelivered_dash' %}">Un-Delivered</a></li>
                    <!-- <li><a class="dropdown-item" href="#">Something else here</a></li> -->
                  </ul>
                </li>
                <li>
                <a href="#" class="nav-link link-dark">
                    Admin
                </a>
                </li>
                <li>
                    <a href="#" class="nav-link link-dark">
                    Other
                    </a>
                </li>
            </ul>
            {% endif %}
        </ul>
        <hr>
        <div class="dropdown">
          <a href="{% url 'logout' %}" class="d-flex align-items-center link-dark text-decoration-none" >
            <strong class="btn btn-success">Logout</strong>
          </a>
          <!-- <ul class="dropdown-menu text-small shadow" aria-labelledby="dropdownUser2">
            <li><a class="dropdown-item" href="#"></a></li>
            <li><a class="dropdown-item" href="#"></a></li>
            <li><a class="dropdown-item" href="#"></a></li>
            <li><hr class="dropdown-divider"></li>
            <li><a class="dropdown-item" href="#"></a></li>
          </ul> -->
        </div>
    </div>
