{% extends 'base.html' %}


{% load bootstrap5 %}
{% bootstrap_css %}
{% bootstrap_javascript %}

{% block content %}
<style>
    #card-container {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between; /* Distribute cards evenly */
    }

    #card {
        width: calc(40% - 10px); /* Two cards per row on small screens */
        margin-bottom: 20px;
        /* Add other card styling (e.g., background, padding, etc.) here */
    }

    @media (min-width: 992px) {
        /* Large screens (lg) */
        #card {
            width: calc(25% - 20px); /* Four cards per row on large screens */
        }
    }
</style>
<div class="container-fluid">
    <div class="row my-3 mx-0 px-0">
        <div class="col-12 col-lg-3 m-0 px-0 py-5">
            <div class="accordion accordion-flush" id="accordionFlushExample">
              <form action="" method="POST">
                {% csrf_token %}
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseOne" aria-expanded="false" aria-controls="flush-collapseOne">
                      Price
                    </button>
                  </h2>
                  <div id="flush-collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div class="range-container">
                        <label for="">Price Range:</label>
                        <!-- <input type="range" name="price_range" min="{{ min_price }}" max="{{ max_price }}" step="{{ range_step }}">
                        <span id="min_price_label">{{ min_price }}</span> - <span id="max_price_label">{{ max_price }}</span> -->

                        <input type="range" id="priceRange" min="{{ min_price }}" max="{{ max_price }}" step="{{ range_step }}">
                        <p>Min Price: $<span id="minPrice">{{ min_price }}</span></p>
                        <p>Max Price: $<span id="maxPrice">{{ max_price }}</span></p>
                        <!-- <label for="">Min Price:</label>
                        <input type="range" name="min_price" id="priceRange" min="{{ min_price }}" max="{{ max_price }}" step="10" value="{{ min_price|default_if_none:'0' }}" step="{{ range_step }}">
                        <label for="">Max Price:</label>
                        <input type="range" name="max_price" id="priceRange1" min="{{ min_price }}" max="{{ max_price }}" step="10" value="{{ max_price|default_if_none:'1000' }}" step="{{ range_step }}">
                        <p>Min: <span id="minPrice">{{ min_price|default_if_none:'0' }} </span></p>
                        <p>Max: <span id="maxPrice">{{ max_price|default_if_none:'###' }} </span></p> -->
                    </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseTwo" aria-expanded="false" aria-controls="flush-collapseTwo">
                      Category
                    </button>
                  </h2>
                  <div id="flush-collapseTwo" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div data-bs-spy="scroll">
                        <ul class="list-unstyled">
                            {% for sub_category in sub_categorys %}
                            <li>
                              <div class="input-group">
                                  <input class="mx-1" type="checkbox" id="sub_category_{{ sub_category.id }}" name="sub_categories" value="{{ sub_category.id }}"
                                         {% if sub_category.id in selected_sub_categories %} checked {% endif %}>
                                  <label for="sub_category_{{ sub_category.id }}">{{ sub_category.name }}</label>
                              </div>
                            </li>
                            {% endfor %}
                        </ul>
                    </div>
                    </div>
                  </div>
                </div>
                <div class="accordion-item">
                  <h2 class="accordion-header">
                    <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#flush-collapseThree" aria-expanded="false" aria-controls="flush-collapseThree">
                      Brand
                    </button>
                  </h2>
                  <div id="flush-collapseThree" class="accordion-collapse collapse" data-bs-parent="#accordionFlushExample">
                    <div class="accordion-body">
                      <div data-bs-spy="scroll">
                          <ul class="list-unstyled">
                              {% for brand in brands %}
                                  <li>
                                      <div class="input-group">
                                          <input class="mx-1" type="checkbox" id="brand_{{ brand.id }}" name="brands" value="{{ brand.id }}"
                                                {% if brand.id in selected_brands %} checked {% endif %}>
                                          <label for="brand_{{ brand.id }}">{{ brand.name }}</label>
                                      </div>
                                  </li>
                              {% endfor %}
                          </ul>
                    </div>
                    </div>
                  </div>
                </div>
                <button type="submit" class="btn btn-outline-info">Filter</button>
              </form>
            </div>
        </div>
        <main class="col-12 col-lg-9 d-block mx-0 px-0">
            <h2 class="text-center text-primary-emphasis">{{ category.name }}</h2>
            <div class="d-flex flex-wrap" id="card-container">
            {% for product in products %}
                {% if product.discount > 0 %}
                  {% include 'offercard.html' with product=product %}                       
                {% else %}
                  {% include 'pricecard.html' with product=product %}
                {% endif %}
            {% endfor %}
            </div>
        </main>
    </div>
    <script>
      var priceRange = document.getElementById('priceRange');
      var minPriceDisplay = document.getElementById('minPrice');
      var maxPriceDisplay = document.getElementById('maxPrice');
      
      priceRange.addEventListener('input', function() {
          minPriceDisplay.textContent = priceRange.value;
          // You can add more functionality here based on selected price range
      });
  </script>
</div>
{% endblock %}