{% load static %}
{% load custom_tags %}
{% load bootstrap5 %}
  {% bootstrap_css %}
  {% bootstrap_javascript %}
<!--Navigation-->
 
    <nav class="navbar bg-light navbar-expand-lg z-0 p-0">
        <div class="container-fluid">
            <button class="navbar-toggler border-0 p-1" type="button" data-bs-toggle="offcanvas" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas navbar-offcanvas offcanvas-start" tabindex="-1" data-bs-backdrop="false" data-bs-scroll="true" id="main-nav">
              <button type="button" class="btn-close text-reset d-lg-none" data-bs-dismiss="offcanvas" aria-label="Close"></button>
              <div class="offcanvas-body">
                <ul class="navbar-nav nav-tabs justify-content-start flex-grow-1 pe-3">
                  <!--shop by Category-->
                    <li class="nav-item">
                        <div class="btn-group dropend justify-content-between btn-b">
                          <a href="" class="nav-link">Shop by Category</a>
                          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false"  id="dropdownMenuClickableInside" data-bs-auto-close="outside">
                            <span class="visually-hidden">Toggle Dropend</span>
                          </button>
                          <ul class="dropdown-menu border-1 border-primary" aria-labelledby="dropdownMenuClickableInside">
                            {% get_categorys as categorys %}
                            {% for category in categorys %}
                            <li class=""><a href="{% url 'shop:category' category.name %}" class="dropdown-item">{{ category.name }}</a></li>
                            {% endfor %}
                          </ul>
                        </div>
                    </li>
                    <!--shop by Condition-->
                    <li class="nav-item">
                        <div class="btn-group dropend justify-content-between btn-b">
                          <a href="" class="nav-link">Shop by Condition</a>
                          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false" id="DropdownMenuClickableInside" data-bs-auto-close="outside">
                            <span class="visually-hidden">Toggle Dropend</span>
                          </button>
                          <ul class="dropdown-menu border-1 border-primary" aria-labelledby="DropdownMenuClickableInside">
                            {% get_conditions as conditions %}
                            {% for condition in conditions %}
                            <li class=""><a href="{% url 'shop:condition' condition.name %}" class="dropdown-item">{{ condition.name }}</a></li>
                            {% endfor %}
                            <!-- <li class=""><a href="{% url 'shop:condition' 'condition2' %}" class="dropdown-item">Pain Relievers</a></li>
                            <li class=""><a href="" class="dropdown-item">Bone,Joints and Muscle</a></li>                                           
                            <li class=""><a href="" class="dropdown-item">Eye Care</a></li>
                            <li class=""><a href="" class="dropdown-item">Ear Care</a></li>
                            <li class=""><a href="" class="dropdown-item">Oral Care</a></li>
                            <li class=""><a href="" class="dropdown-item">Cold,flu and Cough</a></li>
                            <li class=""><a href="" class="dropdown-item">Brain and Nervous Disorder</a></li>
                            <li class=""><a href="" class="dropdown-item">Diabetes</a></li>
                            <li class=""><a href="" class="dropdown-item">Reproductive</a></li>
                            <li class=""><a href="" class="dropdown-item">Hypertension</a></li>
                            <li class=""><a href="" class="dropdown-item">Endocrine Disorders</a></li>
                            <li class=""><a href="" class="dropdown-item">Allergies</a></li>
                            <li class=""><a href="" class="dropdown-item">Bacterial,Fungal and Protozoal infections</a></li>
                            <li class=""><a href="" class="dropdown-item">STD's</a></li> -->
                          </ul>
                        </div>
                    </li>
                    <!--Health Center-->
                    <li class="nav-item">
                        <div class="btn-group dropend justify-content-between btn-b">
                          <a href="" class="nav-link">Health Center</a>
                          <button type="button" class="btn btn-light dropdown-toggle dropdown-toggle-split" data-bs-toggle="dropdown" aria-expanded="false">
                            <span class="visually-hidden">Toggle Dropend</span>
                          </button>
                          <ul class="dropdown-menu border-1 border-primary bg-success">
                            <li class=""><a href="#" class="dropdown-item fw-semibold">Chronic illnesses</a></li>
                            <li class=""><a href="#" class="dropdown-item fw-semibold">Asthma</a></li>
                            <li class=""><a href="#" class="dropdown-item fw-semibold">Skin Care</a></li>
                            <li class=""><a href="#" class="dropdown-item fw-semibold">Sexuall Wellness</a></li>
                            <li class=""><a href="#" class="dropdown-item fw-semibold">Self Diagnos kits</a></li>
                            <li class=""><a href="#" class="dropdown-item fw-semibold">Mother and Baby</a></li>
                          </ul>
                        </div>
                    </li>
                    <!--Offers-->
                    <li class="nav-item bg-warning">                                      
                      <a href="" class="nav-link fw-bolder text-primary">Offers</a>
                    </li>
                    <!--Submit Prescription-->
                    <li class="nav-item">
                        <a class="nav-link" href="">Submit prescription</a>
                    </li>
                </ul>
                <!--Delivery Location-->
                <div class="btn btn-outline-primary">
                  <a href="#" class="text-decoration-none">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-geo-alt-fill" viewBox="0 0 16 16">
                      <path d="M8 16s6-5.686 6-10A6 6 0 0 0 2 6c0 4.314 6 10 6 10m0-7a3 3 0 1 1 0-6 3 3 0 0 1 0 6"/>
                    </svg>
                    <span class="fw-bold text-success">Delivery Location</span>
                  </a>                                 
                </div>
              </div>
            </div>
        </div> 
    </nav>
