{% extends 'base.html' %}

{% block content %}  
  <style>
        
    @media (min-width: 768px) {
        #form {
        width: 50vw;
        }
    }
    @media (max-width: 768px) {
        #form {
        width: 75vw;
        }
    }
    </style>
     <div>
      {% if messages %}
      {% for message in messages %}
      <div class="alert alert-warning alert-dismissible fade show position-absolute top-0" role="alert">
        {{ message }}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
<body class="container-fluid d-block">
<div class="d-flex" >
  <div class="d-inline-block mt-3" >
    {% include 'account_info.html' %}
  </div>

  <div class="text-center d-flex flex-column justify-content-center align-items-center mx-5 my-2">
    <h3 class="text-center text-primary fw-bold">Delivery Information</h3>      
    <form class="form-control" id="form" method="post" action="{% url 'shop:update_info' %}">
        {% csrf_token %}

        {{ u_form.as_p }}

        <strong>Fill profile info later click here to go to <a href="{% url 'shop:home' %}">Home!</a> </strong>
        
        <div class="d-flex justify-content-evenly">
          <button class="btn btn-lg btn-primary btn-block" type="submit">Save</button>
          <a href="{%  url 'shop:update_password' %}" class="btn">Change Password</a>
        </div>
        <p class="mt-5 mb-3 text-muted">© 2024</p>
    </form>
    </div>
    
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-MrcW6ZMFYlzcLA8Nl+NtUVF0sA7MsXsP1UyJoMp4YLEuNSfAP+JcXn/tWtIaxVXM" crossorigin="anonymous"></script>
  </div>
</div>
  
  
</body>
{% endblock %}